.nav {
    .nav-item .dropdown-menu {  
        margin: 0;  
    }  
    .nav-item:hover .dropdown-menu {
        display: block;
    }
    .nav-link.active {
        border-bottom: 1px solid red;
    }
}