<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#">Link 1</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link 2</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link 3</a>
    </li>
  </ul>

  <ul class="navbar-nav right">
    <li class="nav-item">
      <a class="nav-link" href="#">Link 3</a>
    </li>
  </ul>
 
</nav>


<div class="container-fluid">
  <h1>Hello World!</h1>

  <!-- <form #form="ngForm">
      <p>outerCounterValue value: {{outerCounterValue}}</p>
    <app-exe-counter name="counter" [(ngModel)]="outerCounterValue"></app-exe-counter>
    <button type="submit" class="btn btn-primary">Submit</button>  
  </form> -->
  <!-- <pre>{{ form.value | json }}</pre> -->

</div>