
<header>
  <ul class="nav nav-pills justify-content-center navbar-fixed-top">
    <li class="nav-item">
      <a class="nav-link active" href="#">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>

    <li class="nav-item">
      <a class="nav-link disabled" href="#">Disabled</a>
    </li>
  </ul>
</header>


<div class="container-fluid">
  <!-- <h1>Hello World!</h1>
  <h2>Hello World!</h2>
  <h3>Hello World!</h3>
  <h4>Hello World!</h4>
  <h5>Hello World!</h5>
  <h6>Hello World!</h6>

  <form [formGroup]="form">
    <p>outerCounterValue value: {{outerCounterValue}}</p> 
    <app-exe-counter formControlName="counter" rangeMax="10" rangeMin="0"></app-exe-counter>
  </form>
  <p *ngIf="!form.valid" class="seriousError">Counter is invalid!</p>
  <pre>{{ form.value | json }}</pre>  -->

  
</div>