/* CSS书写顺序　　
1.位置属性(position, top, right, z-index,display, float等)　　
2.大小(width, height, padding, margin)　　
3.文字系列(font, line-height, letter-spacing,color- text-align等)　　
4.背景(background, border等)　　
5.其他(animation, transition等)

CSS 注意事项
1.去掉小数点前的“0”
2.CSS有些属性是可以缩写的，比如padding,margin,font等等，这样精简代码同时又能提高用户的阅读体验。
3.简写命名： 
    头：header　　
    内容：content/container　　
    尾：footer    　
    导航：nav　　
    侧栏：sidebar　　
    栏目：column　　
    页面外围控制整体佈局宽度：wrapper　　
    左右中：left right center　　
    登录条：loginbar　　
    标志：logo　　
    广告：banner　　
    页面主体：main　　
    热点：hot　　
    新闻：news　　
    下载：download　　
    子导航：subnav　　
    菜单：menu　　
    子菜单：submenu　　
    搜索：search　　
    友情链接：friendlink　　
    页脚：footer　
    版权：copyright　　
    滚动：scroll　　
    内容：content　　
    标签：tags　　
    文章列表：list　　
    提示信息：msg　　
    小技巧：tips　　
    栏目标题：title　　
    加入：joinus　　
    指南：guide　　
    服务：service　　
    注册：regsiter　　
    状态：status　　
    投票：vote　　
    合作伙伴：partner

    注意事项:
    　　1.一律小写;
    　　2.尽量用英文;
    　　3.不加中槓和下划线;
    　　4.尽量不缩写，除非一看就明白的单词。

*/


/*** Global ***/

$default-font:'Open Sans',
Arial,
sans-serif;
$default-font-size:12px;
$default-color:#333;
$margin-zero:0;

/*** 
body 
***/

body {
    direction: ltr;
    margin: $margin-zero;
    color: $default-color;
    font: $default-font;
    font-size: $default-font-size;
    background: #fff;
}


/***
h tag
***/

h1,
h2,
h3,
h4,
h5,
h6 {
    font: $default-font;
    margin: $margin-zero;
    color: $default-color;
}

h1 {
    margin-bottom: 15px;
}


/***
link
***/

a {
    &:focus,
    &:active {
        outline: 0;
        text-decoration: none;
    }
    &:hover {
        color: #E02222;
        text-decoration: underline;
    }
}


/***
box tools
***/

.no-padding {
    padding: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

.no-bottom-space {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}

.no-top-space {
    padding-top: 0 !important;
    margin-top: 0 !important;
}

.no-space {
    margin: 0 !important;
    padding: 0 !important;
}

.no-text-shadow {
    text-shadow: none !important;
}

.padding-top-5 {
    padding-top: 5px !important;
}

.padding-top-10 {
    padding-top: 10px !important;
}

.padding-top-15 {
    padding-top: 15px !important;
}

.padding-top-20 {
    padding-top: 20px !important;
}

.padding-top-25 {
    padding-top: 25px !important;
}

.padding-top-30 {
    padding-top: 30px !important;
}

.padding-top-35 {
    padding-top: 35px !important;
}

.padding-top-40 {
    padding-top: 40px !important;
}

.padding-top-45 {
    padding-top: 45px !important;
}

.padding-top-50 {
    padding-top: 50px !important;
}

.padding-top-60 {
    padding-top: 60px !important;
}

.margin-bottom-0 {
    margin-bottom: 0 !important;
}

.margin-bottom-5 {
    margin-bottom: 5px !important;
}

.margin-bottom-10 {
    margin-bottom: 10px !important;
}

.margin-bottom-15 {
    margin-bottom: 15px !important;
}

.margin-bottom-20 {
    margin-bottom: 20px !important;
}

.margin-bottom-25 {
    margin-bottom: 25px !important;
}

.margin-bottom-30 {
    margin-bottom: 30px !important;
}

.margin-bottom-35 {
    margin-bottom: 35px !important;
}

.margin-bottom-40 {
    margin-bottom: 40px !important;
}

.margin-bottom-50 {
    margin-bottom: 50px !important;
}

.margin-bottom-60 {
    margin-bottom: 60px !important;
}

.margin-bottom-65 {
    margin-bottom: 65px !important;
}

.margin-top-10 {
    margin-top: 10px !important;
}

.margin-left-0 {
    margin-left: 0 !important;
}

.margin-right-0 {
    margin-right: 0 !important;
}

.margin-right-20 {
    margin-right: 20px !important;
}

.margin-left-20 {
    margin-left: 20px !important;
}

.padding-left-0 {
    padding-left: 0 !important;
}

.padding-right-0 {
    padding-right: 0 !important;
}

.padding-right-30 {
    padding-right: 30px !important;
}

.margin-right-10 {
    margin-right: 10px !important;
}


/***
leader
***/

@mixin leader {
    font-size: 18px;
}


/***
header
***/

.header {}


/***
nav
***/

.nav {
    @include leader;
    .nav-link {}
    .nav-link.active { background-color: #b0b3b7}
}


/***
main
***/

.main {}


/***
footer  
***/

.footer {}