.home {
    .home-main {
        position: relative;
        width: 90%;
        max-width: 1300px;
        margin: 0 auto;
        
        img{  
            cursor: pointer;  
            transition: all 0.6s; 
        }  
        img:hover{  
            transform: scale(1.2);  
        }  
    }
}