<!-- <h1>this is home!</h1> -->

<div class="home">
  <div class="carousel margin-bottom-30">
    <app-carousel [isShowControl]="isShow" (prevRequest)="carouselPrev($event)" (bindSourceRequest)="bindCarousel($event)"></app-carousel>
  </div>

  <!-- app-table列子 -->

  <div class="home-main margin-bottom-30">
    <ngx-loading [show]="isShow" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
    <div class="row">
      <div class="col-md-6 col-lg-4 col-sm-6 margin-bottom-30 block btn06">
        <img src="https://htmlstream.com/preview/unify-v2.4/assets/img-temp/600x295/img4.jpg" alt="">
        <div class="ovrly"></div>
        <div class="buttons">
          <a href="#" title="进入" class="fa fa-search"></a>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 col-sm-6 margin-bottom-30 block btn06">
        <img src="https://htmlstream.com/preview/unify-v2.4/assets/img-temp/600x295/img3.jpg" alt="">
        <div class="ovrly"></div>
        <div class="buttons">
          <a href="#" title="进入" class="fa fa-search"></a>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 col-sm-6 margin-bottom-30 block">
        <img src="https://htmlstream.com/preview/unify-v2.4/assets/img-temp/600x295/img2.jpg" alt="">
      </div>
      <div class="col-md-6 col-lg-4 col-sm-6 margin-bottom-30 block">
        <img src="https://htmlstream.com/preview/unify-v2.4/assets/img-temp/600x295/img1.jpg" alt="">
      </div>
    </div>

    <div>
      <app-table></app-table>
    </div>
  </div>

</div>