<!-- home demo start -->
<div class="home">

  <div class="carousel margin-bottom-30">
    <app-carousel [isShowControl]="true" (prevRequest)="carouselPrev($event)" (bindSourceRequest)="bindCarousel($event)"></app-carousel>
  </div>

  <div class="home-main margin-bottom-30">
    <!-- <ngx-loading [show]="false" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading> -->
    <div class="row">
      <div class="col-md-4 col-lg-3 col-sm-6 margin-bottom-30  block btn06" *ngFor="let item of [4,5,6,7,8,9]; index as i">

        <!-- card demo start -->
        <app-card [data]="item" displayAnimate="animated fadeIn">
          <ng-template #contentTemplate>
            <div style="padding:10px; position:relative;">
              <a href="#">
                <img class="card-img-top" src="https://htmlstream.com/preview/unify-v2.4/assets/img-temp/600x295/img{{item}}.jpg">
              </a>
              <div class="card-title"></div>
              <p class="card-text">
                <strong>介绍：这是Card,使用了红色主题</strong>
              </p>
              <p>
                这是Card,使用了红色主题 这是Card,使用了....
              </p>
              <div style="display:block; margin:0 auto;">
                <a href="#" class="btn btn-md btn-danger">Go Go Go</a>
              </div>
              <p>

              </p>
            </div>
          </ng-template>
        </app-card>
        <!-- home demo end -->

      </div>

    </div>

    <section style="position:relative" class="margin-bottom-30">
      <div style="position:absolute; left:40%; top:40%; width:10%; height:10%; opacity:0.9  ">
        <div style="position:relative;height:100%">
          <ngx-loading [show]="true" [config]="{backdropBackgroundColour:'#7f000000',animationType:'threeBounce',backdropBorderRadius:'50%'}"></ngx-loading>
        </div>
      </div>

      <!-- table demo start -->
      <app-table #table [showCommandColumn]="true" (bindSourceRequest)="bindTable($event)">

        <ng-template #commandTemplate let-id="col1" let-name="col2">
          <button type="button" (click)="click($event,id)" class="btn btn-sm btn-danger btn-delete">删除 {{name}}</button>
        </ng-template>

        <!-- <app-column columnName="col1" content="<div id='&col2'><img src='https://htmlstream.com/preview/unify-v2.4/assets/img-temp/600x295/&col2.jpg' /></div>">
        </app-column> -->

      </app-table>
      <!-- table demo end -->

    </section>

    <section class="margin-bottom-30">
      <popover-content #myPopover title="弹出框标题" placement="left" [closeOnClickOutside]="true" >
        <div style="width:300px; height:300px;" >
          <b>Very</b>
          <span style="color: #C21F39">这里是</span>
          <span style="color: #00b3ee">弹出框</span>
          <b>
            <i>
              <span style="color: #ffc520">啊</span>
            </i>
          </b>
          <small>啊</small>.
        </div>

      </popover-content>


      <button [popover]="myPopover" [popoverOnHover]="true"  [popoverCloseOnMouseOutside]="true" >弹出框测试</button>
      <button [popover]="myPopover" [popoverOnHover]="true" [popoverCloseOnMouseOutside]="true">弹出框测试</button>
      
    </section>

    <!-- <section>
      <ngb-tabset type="pills" justify="start|center|end">
        <ngb-tab title="Title1">
          <ng-template ngbTabContent>
            <div style="background:blue;" class="animated fadeIn">
              这里是内容1
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Title2">
          <ng-template ngbTabContent>
            <div style="background:red;" class="animated fadeIn">
              这里是内容2
            </div>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </section> -->

  </div>

</div>
<!-- home demo end -->