<!-- <h1>this is home!</h1> -->

<div class="home">
  <div class="carousel margin-bottom-30">
    <app-carousel [isShowControl]="isShow" (prevRequest)="carouselPrev($event)" (bindSourceRequest)="bindCarousel($event)"></app-carousel>
  </div>

  <div class="home-main margin-bottom-30">
    <ngx-loading [show]="isShow" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
    <div class="row">
      <div class="col-md-6 col-lg-4 col-sm-6 margin-bottom-30 block btn06">
        <img src="https://htmlstream.com/preview/unify-v2.4/assets/img-temp/600x295/img4.jpg" alt="">
        <div class="ovrly"></div>
        <div class="buttons">
          <a href="#" title="进入" class="fa fa-search"></a>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 col-sm-6 margin-bottom-30 block btn06">
        <img src="https://htmlstream.com/preview/unify-v2.4/assets/img-temp/600x295/img3.jpg" alt="">
        <div class="ovrly"></div>
        <div class="buttons">
          <a href="#" title="进入" class="fa fa-search"></a>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 col-sm-6 margin-bottom-30 block">
        <img src="https://htmlstream.com/preview/unify-v2.4/assets/img-temp/600x295/img2.jpg" alt="">
      </div>
      <div class="col-md-6 col-lg-4 col-sm-6 margin-bottom-30 block">
        <img src="https://htmlstream.com/preview/unify-v2.4/assets/img-temp/600x295/img1.jpg" alt="">
      </div>
    </div>

    <div>

      <!-- table demo start -->
      <app-table [showCommandColumn]="true">
        <!-- <ng-template #headerTemplate>
          <th colspan="2">
            <table style="width:100%">
              <tr>
                <td colspan="2">title</td>
              </tr>
              <tr>
                <td>1</td>
                <td>2</td>
              </tr>
            </table>
          </th>
          <th colspan="3">
            <table style="width:100%">
              <tr>
                <td colspan="3">title2</td>
              </tr>
              <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
              </tr>
            </table>
          </th>
        </ng-template> -->

        <ng-template #commandTemplate let-id="col1" let-name="col2">
          <button type="button" (click)="click($event,id)" class="btn btn-sm btn-danger">删 除 {{name}}</button>
        </ng-template>

        <ng-template #col>
          <button type="button" (click)="click($event,id)" class="btn btn-sm btn-danger">删 除 {{name}}</button>
        </ng-template>


        <app-column columnName="col2" content="<input value='{{col1}}' >" let-id="col1">
        </app-column>
      </app-table>
      <!-- table demo end -->

    </div>
  </div>

</div>